<p id="notice"><%= notice %></p>

<p>
  <b>Main history:</b>
  <%= @home_configuration.main_history %>
</p>


<%= link_to 'Edit', edit_home_configuration_path(@home_configuration) %> |
<%= link_to 'Back', home_configurations_path %>
