<div class="iku_hed minWidth">
    <div class="logoWrapper imgWrap">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_logo") %>
    </div>
    <nav role="navigation">
        <ul>
            <li><span class="hov">STORIES</span></li>
            <li><span class="hov">ABOUT</span></li>
            <li><span class="hov">GET INVOLVED</span></li>
            <li><span class="hov">BLOG</span></li>
            <li><span class="hov">CONTACT</span></li>
            <li><span class="hov" class="iku_bookFont">ES</span></li>
            <li style="margin-right:0"></li>
        </ul>
    </nav>
</div>