<div class="iku_right_buttons">
    <div class="iku_twWrap imgWrap rightButtons">
        <a href="https://twitter.com/intent/tweet?text=comenta este video en twitter lokooooooo">
            <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_tw") %>
        </a>
    </div>
    <div class="iku_fbWrap imgWrap rightButtons">
        <a href="#" onclick="window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('www.ikusi.org'), 
          'ikusi es lo másss', 
          'width=626,height=436'); 
                        return false;">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_fb") %>
        </a>
    </div>
    <div class="iku_donateWrap imgWrap rightButtons">
        <%= image_tag("sprites.png", :alt => "ikusi logo", :class => "iku_donate") %>
    </div>
</div>