<div class="iku_hed">
    <%= image_tag("logoEN.png", :alt => "ikusi logo", :class => "iku_logo") %>
    <nav role="navigation">
        <ul>
            <li><span>STORIES</span></li>
            <li><span>ABOUT</span></li>
            <li><span>GET INVOLVED</span></li>
            <li><span>BLOG</span></li>
            <li><span>CONTACT</span></li>
            <li><span class="iku_bookFont">ES</span></li>
            <li style="margin-right:0"><%= image_tag("iconContact.png", :alt => "contact icon") %></li>
        </ul>
    </nav>
</div>
<div class="iku_mainVideo"></div>
<div class="iku_mv_descriptionBox">
    <%= image_tag("buttonPlay.png", :alt => "ikusi logo", :class => "iku_playButton") %></br>
    <span class="iku_mvTitle">NI MÁS NI MENOS</span></br>
    <span class="iku_mvsubTitle">5 HISTORIAS 5 VIDAS 5 SUEÑOS</span>
</div>
<div class="iku_footer">
    <span class="iku_footLogo iku_lightFont">iKusi <string style="font-weight: bold;">©</string> 2013</span>
    <span class="iku_moreInfoButt"> ^ </span>
    <span class="iku_info iku_lightFont">T.-59823365789 | info@ikusi.org | Pablo de María 2345 | Montevideo, Uruguay</span>
</div>
