*{
    margin:0;
    padding:0;
    border:0;
}

#header{
    background-color:#6495ed;
    display:block;
    height:133px;
}
#multilenguage{
    float: right;
    margin-right: 3%;
}
.middleDescription{
    float:left;
    max-width:800px;
    background-color:#faebd7;
    max-height:100px;
}
#descriptionSlog{
    top: 30px;
    position: relative;
}
.logo{
    position:relative;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    width: 260px;
}
.logo:hover {
  opacity: 0.8;
}
.slogan{
    float:left;
    margin-left: 7%;
}
#slider{
    position:relative;
}