a:active,a:hover,a:visited,a:link {outline:0;text-decoration: none;}
/*  header    */
[role="navigation"]>ul li{margin:0.5em;display:block;float:left;}
[role="navigation"] {float:right;}
.header{
  
}
.centeredContainer{
    width: 63em;
    margin-right: auto;
    margin-left: auto;
}
.tablet{display:none;}
.celular{display:none;}
.normalPc{display:none;}
.other{display:block;}
.icono{
    width: 12em;
    height: 4em;
    float: left;
    margin: 0.1em;
}
.item{
    background-color: gainsboro;
    width: 15em;
    height: 15em;
    float: left;
    margin: 0.5em;
}
.itemBig{
    background-color: goldenrod;
    width: 30em;
    height: 31em;
    float: left;
    margin: 0.5em;
}
.container{
/*    float: right;*/
    clear: both;
}

@media screen and (max-width: 1000px) {

    .centeredContainer{
        width: auto;    
        margin-right: auto;
        margin-left: auto;
    }
    #navmenu {
		/*width: 30%;*/
        background-color: black;
	}
    .tablet{display:block;}
    .celular{display:none;}
    .normalPc{display:none;}
    .other{display:none;}
}
/* iphone5: 640 x 1136  */ 
@media screen and (max-width: 640px) {


    #navmenu {
		/*width: 30%;*/
	}
    [role="navigation"]>ul li span{color:red;}
    .tablet{display:none;}
    .celular{display:block;}
    .normalPc{display:none;}
    .other{display:none;}
}

/*  Less than iphone  */
@media screen and (max-width: 480px) {

    #navmenu {
    	/*width: 30%;*/
     /*   background-color: blue;*/
	}
    .tablet{display:none;}
    .celular{display:none;}
    .normalPc{display:block;}
    .other{display:none;}
}



/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}